body {
  background-color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  min-height: 99vh;
  border: 3px solid #fff;
  max-width: 700px;
  margin: auto;
}

.bookmarks-list {
  padding: 0 6px;
}

.bookmarks-list #filter-by {
  color: #fff;
  text-align: right;
}

.bookmarks-list h1 {
  color: #fff;
}

.bookmark {
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  margin-bottom: 20px;
}

.bookmark-title {
  background-color: #6799ff;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.bookmark-description {
  background-color: #3233;
  padding-left: 20px;
  margin-top: 0;
}

.bookmark-link {
  text-decoration: none;
  color: blue;
  padding-left: 20px;
}

.bookmark-delete {
  max-width: 200px;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  align-self: flex-end;
}

.bookmark-rating {
  padding-left: 20px;
}

.bookmark-condensed {
  display: none;
}

.add-bookmark-form-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: green;
  padding: 10px;
  margin-bottom: 20px;
}

.add-bookmark-form-container input[type=submit] {
  margin-top: 8px;
}